<!DOCTYPE html>
<html{{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ .Title }}{{ if eq .IsHome false }} | {{ .Site.Title }}{{ end }}</title>
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/origin.css">
<link rel="stylesheet" href="https://archlinuxjp.github.io/font/icomoon/css/icomoon.css">
<link rel="stylesheet" href="https://archlinuxjp.github.io/font/font-awesome/css/font-awesome.min.css">
